<%- include("cabeceras/cabecera.ejs",{tituloWeb:'Lenar informacion de Tecer'}) %>

<body>
  <form id="formInfoInicio" method="POST" class="row g-3 needs-validation "></form>
        
    
        <div class="container mt-5">
            <h1>Ingresa tus conocimientos con los que entraste a TECLA</h1>
            <div class="row">
                
                <div class="col-3">
                    <div class="card h-100 item-Height ">
                        <h5 class="card-header">CONOCIMIENTOS</h5>
                        <div class="card-body">
                            <label for="bases" class="form-label">Bases de Datos</label>
                            <input type="range" class="form-range" min="0" max="5" id="bases">
                            <label for="apis" class="form-label">APIS</label>
                            <input type="range" class="form-range" min="0" max="5" id="apis">
                            <label for="testing" class="form-label">Testings</label>
                            <input type="range" class="form-range" min="0" max="5" id="testing">
                            <label for="seguridad" class="form-label">Seguridad</label>
                            <input type="range" class="form-range" min="0" max="5" id="seguridad">
                            <label for="teoriaObj" class="form-label">Teoria de Objetos</label>
                            <input type="range" class="form-range" min="0" max="5" id="teoriaObj">
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card h-100 item-Height ">
                        <h5 class="card-header">TECNOLOGIAS</h5>
                        <div class="card-body">
                            <label for="nodeJs" class="form-label">NodeJS</label>
                            <input type="range" class="form-range" min="0" max="5" id="nodeJs">
                            <label for="frontend" class="form-label">Frontend</label>
                            <input type="range" class="form-range" min="0" max="5" id="frontend">
                            <label for="swagger" class="form-label">Swagger</label>
                            <input type="range" class="form-range" min="0" max="5" id="swagger">
                            <label for="js" class="form-label">JavaScript</label>
                            <input type="range" class="form-range" min="0" max="5" id="js">
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card h-100 item-Height">
                        <h5 class="card-header">DESEMPEÑO</h5>
                        <div class="card-body">
                            <label for="calidadCod" class="form-label">Calidad de Codigo</label>
                            <input type="range" class="form-range" min="0" max="5" id="calidadCod">
                            <label for="velEntrega" class="form-label">Velocidad de Entrega</label>
                            <input type="range" class="form-range" min="0" max="5" id="velEntrega">
                            <label for="performanceCod" class="form-label">Performance de Codigo</label>
                            <input type="range" class="form-range" min="0" max="5" id="performanceCod">
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card h-100 item-Height">
                        <h5 class="card-header">HABILIDADES BLANDA</h5>
                        <div class="card-body">
                            <label for="enfocado" class="form-label">Enfocado</label>
                            <input type="range" class="form-range" min="0" max="5" id="enfocado">
                            <label for="trabajoEq" class="form-label">Trabajo en Equipo</label>
                            <input type="range" class="form-range" min="0" max="5" id="trabajoEq">
                            <label for="comprometido" class="form-label">Comprometido</label>
                            <input type="range" class="form-range" min="0" max="5" id="comprometido">
                            <label for="comunicacion" class="form-label">Comunicacion</label>
                            <input type="range" class="form-range" min="0" max="5" id="comunicacion">
                            <label for="aprendizaje" class="form-label">Capacidad de aprendizaje</label>
                            <input type="range" class="form-range" min="0" max="5" id="aprendizaje">
                            <label for="resProblem" class="form-label">Resolucion de Problemas</label>
                            <input type="range" class="form-range" min="0" max="5" id="resProblem">
                        </div>
                    </div>
                </div>

                <div class="col-3 mt-3">
                    <div class="card">
                        <h5 class="card-header">ENTORNOS PROFESIONALES</h5>
                        <div class="card-body">
                            <label for="github" class="form-label">Versionado - Github</label>
                            <input type="range" class="form-range" min="0" max="5" id="github">
                            <label for="trello" class="form-label">Trello - Jira</label>
                            <input type="range" class="form-range" min="0" max="5" id="trello" >
                            <label for="slack" class="form-label">Slack</label>
                            <input type="range" class="form-range" min="0" max="5" id="slack">
                            <label for="agiles" class="form-label">Agiles</label>
                            <input type="range" class="form-range" min="0" max="5" id="agiles">
                        </div>
                    </div>
                </div>

                <div class="col-3 mt-3">
                    <div class="card">
                        <h5 class="card-header">CONOCIMIENTO EXTRA</h5>
                        <div class="card-body text-center">
                            <input type="text" placeholder="nombre conocimiento">
                            <input type="range" class="form-range" min="0" max="5" id="conExtra">
                            
                            <a onclick="conoExtra('')" class="btn btn-lg btn-success pull-right"><i class="glyphicon glyphicon-ok-sign"></i> Otro</a>
                        </div>
                    </div>
                </div>
                 
                
            </div>

            <div class="text-center mb-5 mt-3" >
                <a href="/usuarios"  class="btn btn-lg btn-primary pull-right" ><i class="glyphicon glyphicon-ok-sign"></i> Guardar</a>
                <!-- <button type="submit" class="btn btn-primary col-md-6" >Gurdar</button> -->
            </div>
    
        </div>  
    </form>

    <script src="js/infoTablas.js"></script>

</body>
</html>